{% extends "base.html.twig" %}
{% block body %}
    <h1>Přihlášeno jest</h1>    
    <a href="{{ url('app_logout') }}"><button type="button">Odhlásit se</button></a>
    <a href="{{ url('change_password') }}"><button type="button">Změnit heslo</button></a>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ url('manageUsers') }}"><button type="button">Zpravovat uživatele</button></a>
    {% endif %}
    
{% endblock %}
